.movies {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 3rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .movies {
    grid-template-columns: 1fr;
    max-width: 80%;
  }
}
