.movie {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  border: 3px solid rgba(204, 204, 204, 0);
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
}

.movie-thumbnail img {
  height: 21rem;
  width: 100%;
  object-fit: cover;
}

.movie-content {
  padding: 2rem;
}
.movie-content .infos {
  margin: 1rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid red;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
